body {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
}

header {
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}

header nav a {
    text-decoration: none;
    color: rgb(182, 38, 38);
}

header nav a:hover {
    color: gray;
}

.name-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.upper-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 30px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.upper-content a:hover {
    color: rgb(182, 38, 38);
    font-size: 35px;
}

.lower-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
}

img {
    height: 200px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
}

footer {
    height: 100px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: black;
    background-color: rgb(168, 168, 168);
    text-decoration: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

footer a:hover {
    color: white;
    background-color: rgb(182, 38, 38);
}


@media screen and (max-width: 800px) {
    .gallery {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 80%;
    }
    
    img {
        height: 300px;
        width: 200px;
        margin: 10px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 500px) {

}